#Utilities
jupytext
jupyter-server-proxy

#Simulator package requirements
numpy #jyro

#Kernel for processing demo
#Requires postBuild install: python3 -m calysto_processing install --user
calysto_processing


# Useful for plotting and analysis
pandas
matplotlib
plotly
cufflinks # add plotly support to pandas

#Robot simulator demos
ipyturtle
jyro

